doctype html
html(lang='en')
  head
    title Jade
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/mailinbox.js')
    link(rel='stylesheet', type='text/css', href='/stylesheets/css.css')
  body
    h1 Lista de Emails
    #div1


